@mixin Headline1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}
@mixin Headline2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
@mixin Headline3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
@mixin Headline4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
@mixin Headline5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.113382px;
}
@mixin Headline6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
}
@mixin Headline7 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
}
@mixin text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
@mixin textBold {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
@mixin Subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.009em;
}
@mixin buttonLabel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.009em;
}
@mixin Description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
