@import "./normalize.scss";
@import "./font.scss";
body {
  background: #f9f9fb;
  overflow-x: hidden;
}
aside {
  max-width: 312px;
}
.container {
  max-width: 1620px - 300px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 14px 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #f0f0f5;
}
.header__flex {
  display: flex;
  align-items: center;
}
.header__menu {
  height: 60px;
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;
  > li {
    margin-right: 63px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &:after {
      position: absolute;
      bottom: -25%;
      height: 0px;
      width: 100%;
      background: #00a759;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      left: 0;
      content: "";
      transition: all 0.2s ease-in-out;
    }
    svg {
      transition: all 0.2s linear;
    }
    > a {
      @include buttonLabel;
      color: #1b1b1b;
      margin-right: 10px;
    }
    ul {
      background-color: #fff;
      position: absolute;
      top: 123%;
      left: -50%;
    }
    &:hover {
      &:after {
        height: 4px;
      }
      > a {
        color: #00a759;
      }
      svg {
        transform: rotate(-180deg);
        path {
          stroke: #00a759;
          fill: #00a759;
        }
      }
    }
  }
}
.header__contact {
  margin-left: 112px;
  a {
    @include Headline6;
    color: #00a759;
  }
}
.header__logo {
  margin-right: auto;
}
.heaedr__cart {
  position: relative;
  background: #1b1b1b;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 66px;
  .cart {
    transform: translateY(10%);
  }
  .cart__count {
    top: 15%;
    right: 10%;
    position: absolute;
    border-radius: 50%;
    background: #00a759;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #fff;
      @include buttonLabel;
      font-size: 10px;
    }
  }
}

.sub-menu {
  display: none;
  padding: 8px 0;
  border-radius: 8px;
  max-height: 250px;
  width: 256px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    display: block;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    a {
      display: block;
      color: black;
      padding: 10px 0 10px 10px;
      width: 100%;
      @include buttonLabel;
    }
    &:hover {
      background: rgba(0, 167, 89, 0.04);
      a {
        color: #00a759;
      }
    }
  }
}
section:first-child {
  padding-top: 140px;
}
.hero__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero__title {
  max-width: 647px;
  h1 {
    @include Headline1;
    color: #00a759;
  }
}
.hero__media {
  video {
    width: 648px;
    height: 491px;
    object-fit: cover;
  }
}

.small-menu {
  background: #00a759;
  border-radius: 4.41509px;
  padding: 18px;
  li {
    margin-bottom: 14px;
    &:first-child {
      margin-bottom: 18px;
      a {
        @include Headline6;
        color: #fff;
        background: url(@img/diagonal-arrow.svg) right center no-repeat;
        display: block;
      }
    }
    a {
      @include text;
      color: #fff;
    }
  }
}
.menu__flex {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.small-menu:first-child {
  grid-area: 1 / 1 / 4 / 4;
}
.small-menu:nth-child(2) {
  grid-area: 1 / 4 / 4 / 7;
}
.small-menu:nth-child(3) {
  grid-area: 1 / 7 / 3 / 10;
  margin-bottom: 20px;
}
.small-menu:nth-child(4) {
  grid-area: 3 / 7 / 4 / 10;
}
.small-menu:nth-child(5) {
  grid-area: 1 / 10 / 2 / 13;
  margin-bottom: 20px;
}
.small-menu:nth-child(6) {
  grid-area: 2 / 10 / 3 / 13;
  margin-bottom: 20px;
}
.small-menu:nth-child(7) {
  grid-area: 3 / 10 / 4 / 13;
}
.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  a {
    padding-right: 20px;
    color: #00a759;
    @include Subtitle;
    background: url(@img/grean-arrow-right.svg) right center no-repeat;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.title {
  @include Headline2;
  color: #000000;
}
section {
  padding-top: 81px;
}
.brand-swiper {
  margin-top: 64px;
}
.brand-item {
  flex: 0 0 16%;
  background: #ffffff;
  border-radius: 6px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 0.4s linear;
  }
  &:hover {
    img {
      filter: none;
      opacity: 1;
    }
  }
}
.brand-wrapper {
  display: flex;
  align-items: center;
}
.filter__flex {
  display: flex;
  align-items: center;
}
.filter__item {
  border-radius: 6px;
  flex: 0 0 20%;
  button {
    width: 100%;
    background: #ffffff;
    color: #afb1bd;
    @include text;
    padding: 8px 12px;
    cursor: pointer;
  }
  &.active {
    button {
      background: rgba(0, 167, 89, 0.04);
      color: #00a759;
    }
  }
}
.filter__catalog {
  margin: 24px 0;
  overflow-x: hidden;
}
.filter__tovar {
  overflow: hidden;
  position: relative;
  .swiper-wrapper {
    display: flex;
    margin-bottom: 50px;
  }
}
.filter__cart {
  background: #fff;
  border-radius: 6px;
  flex: 0 0 312px;
  margin-bottom: 32px;
  margin-top: 0 !important;
  padding: 12px 12px 24px 12px;
  position: relative;
}
.filter__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tovar__label {
  display: flex;
  position: absolute;
  top: 3%;
  left: 5%;
  .label {
    width: 60px;
    height: 60px;
    background: #1b1b1b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: #ffffff;
      @include text;
    }
  }
  .label-sale {
    background: #f27e00;
  }
}
.art {
  color: #afb1bd;
  @include Description;
  margin-bottom: 18px;
}
.tovar__name {
  color: #1b1b1b;
  @include Subtitle;
  text-transform: capitalize;
}
.tovar__model {
  color: #1b1b1b;
  @include text;
  text-transform: uppercase;
}
.price {
  display: inline-block;
  margin-top: 14px;
  color: #1b1b1b;
  @include Headline7;
  span {
    margin-left: 5px;
    color: #1b1b1b;
    @include text;
  }
}
.swiper-pagination.filter__tovar-pagination {
  bottom: 0;
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #e6e6eb;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background: #00a759;
    }
  }
}
.section-relative-navigation {
  position: relative;
  .swiper-button-prev {
    left: 5%;
    border: 3px solid #00a759;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      path {
        fill: #00a759;
      }
    }
    &:after {
      content: none;
    }
  }
  .swiper-button-next {
    border: 3px solid #00a759;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      path {
        fill: #00a759;
      }
    }
    &:after {
      content: none;
    }
  }
  .swiper-button-disabled {
    background: #e6e6eb;
    border: 3px solid #e6e6eb;
    opacity: 1;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
.section-relative {
  position: relative;
  .section__title {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 10;
  }
}
.subscribe__flex {
  padding: 60px 38px;
  background: #00a759;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    color: #fff;
    max-width: 650px;
    font-size: 28px;
  }
  form {
    input[type="tel"] {
      border: 2px solid #ffffff;
      border-radius: 6px;
      background: transparent;
      padding: 16px 100px 16px 32px;
      color: white;
      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.009em;
        color: #ffffff;
      }
    }
    input[type="submit"] {
      cursor: pointer;
      border-radius: 6px;
      background: white;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.009em;
      color: #00a759;
      padding: 18px 50px;
      margin-left: 18px;
    }
  }
}
#map {
  width: 100%;
  height: 460px;
  button {
    display: none;
  }
}
.gmnoprint {
  display: none;
}
.footer {
  padding: 64px 0;
}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      color: #1b1b1b;
      @include buttonLabel;
      &:not(:last-child) {
        margin-right: 48px;
      }
      a {
        color: #1b1b1b;
        @include buttonLabel;
      }
    }
  }
}
.search-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__search {
  input {
    background: #ffffff;
    border-radius: 103px;
    width: 90%;
    padding: 18px 0 18px 28px;
    &::placeholder {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 33px;
      color: #afb1bd;
      text-transform: lowercase;
    }
  }
  button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #1b1b1b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(226, 226, 226, 0.597);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(92, 92, 92, 0.3);
  border-radius: 20px;
}
.shop__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #afb1bd;
  }
  form {
    select {
      cursor: pointer;
      outline: none;
      border: none;
      background: transparent;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #1b1b1b;
      option {
        font-family: "Montserrat";
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        color: #1b1b1b;
      }
    }
  }
}

.accordion {
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    @include buttonLabel;
    color: #1b1b1b;
  }
  svg {
    transition: all 0.2s linear;
  }
  &.active {
    p {
      color: #00a759;
    }
    svg {
      transform: rotate(180deg);
      path {
        fill: #00a759;
      }
    }
  }
}

.panel {
  padding: 0 18px;
  color: #212121;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  label {
    color: #000000;
    @include textBold;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: #00a759;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 1px solid #afb1bd;
      border-radius: 2px;
      transition: 0.2s linear;
      &:after {
        background-image: url(@img/cheack.svg);
        background-size: 12px 10px;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        width: 100%;
        height: 100%;
        content: "";
      }
      &:hover {
        border: 1px solid #00a759;
      }
    }
  }
}

.shop__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.shop__filter {
  width: 312px;
}
.shop__filter-item {
  margin-bottom: 15px;
}
.conatact {
  padding-top: 0 !important;
  position: relative;
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .contact__container {
    padding-top: 140px;
    padding-left: 300px;
    background: linear-gradient(
      90deg,
      #f9f9fb 27.36%,
      rgba(249, 249, 251, 0) 60.3%
    );
  }
}
.contact__info {
  margin: 146px 0 180px 0;
}
.contact__item {
  margin-bottom: 48px;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #00a759;
    margin-bottom: 18px;
  }
  a,
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1b1b1b;
  }
}
.shop__main {
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.size__flex {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  button {
    @include Description;
    color: #1b1b1b;
    margin-right: 6px;
    padding: 8px 12px;
    cursor: pointer;
    background: rgba(175, 177, 189, 0.15);
    border-radius: 6px;
    font-weight: bold;
    &.active {
      color: #00a759;
      background: rgba(0, 167, 89, 0.04);
    }
  }
}
.add-cart {
  display: block;
  margin-top: 24px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  @include buttonLabel;
  background: #00a759;
  border-radius: 6px;
  padding: 14px 0;
  cursor: url(@img/cart.svg) 2 2, pointer;
}
.catalog__pagination {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 250px;
}
.pagination__page {
  display: flex;
  align-items: center;
}
.number__page {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 15px;
  }
  span {
    color: #afb1bd;
    @include Headline5;
  }
  &.active {
    background: #00a759;
    span {
      color: #fff;
    }
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  &-item {
    margin-right: 5px;
    a {
      span {
        color: #afb1bd;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}

.price-slider {
  position: relative;
  display: flex;
}
.price__value {
  margin-bottom: 30px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  align-items: center;
}
.price__value {
  span {
    font-size: 30px;
    color: #afb1bd;
  }
  input {
    background: #f0f0f5;
    border-radius: 6px;
    padding: 10px;
    border: none !important;
    font-family: "Montserrat" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 16px !important;
    color: #1b1b1b;
  }
}
.price-slider input[type="range"] {
  position: absolute;
  left: 0;
  top: 10px;
}
input[type="number"] {
  border: 1px solid #ddd;
  text-align: center;
  @include text;
  font-size: 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #e60023;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #00a7596b;
  border-radius: 5px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 2px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #00a759;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.product__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__gallery-wrapper {
  display: flex;
}
.product__gallery {
  max-width: 648px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product__gallery-img {
  flex: 0 0 100%;
}
.product__gallery-prev {
  cursor: pointer;
  transform: rotate(180deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #1b1b1b;
  border-radius: 50%;
  svg {
    path {
      fill: #fff;
    }
  }
}
.product__gallery-next {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #1b1b1b;
  border-radius: 50%;
  margin-left: 53px;
  svg {
    path {
      fill: #fff;
    }
  }
}
.product__gallery-disable {
  cursor: pointer;
  background: #e6e6eb;
}
.gallery__btn {
  margin: 40px auto;
  user-select: none;
}
.product__name {
  h1 {
    color: #204b45;
    @include Headline4;
  }
}
.product__model {
  margin-bottom: 80px;
  h3 {
    color: #afb1bd;
    @include Headline4;
  }
}
.product__info {
  .add-cart {
    margin-top: auto;
  }
  .price {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #1b1b1b;
    margin-bottom: 64px;
    margin-top: 385px;
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      color: #1b1b1b;
    }
  }
  .size__flex {
    margin-top: 0;
    flex-wrap: wrap;
    h3 {
      width: 100%;
      @include Headline7;
      color: #1b1b1b;
      margin-bottom: 32px;
    }
    button {
      font-size: 16px;
      padding: 19px 24px;
      &.active {
        background: #00a759;
        color: #fff;
      }
    }
  }
}
.product__atribute {
  border-top: 1px solid #f0f0f5;
  &:last-child {
    border-bottom: 1px solid #f0f0f5;
  }
  .accordion {
    background-color: transparent;
    border-radius: 0px;
    p {
      color: #afb1bd;
    }
  }
  .panel {
    background-color: transparent;
  }
}
.product__atribute-wrapper {
  margin-bottom: 10px;
}
.product__atribute-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #1b1b1b;
  display: inline;
}
.product__atribute-value {
  display: inline;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #1b1b1b;
}

.service__item {
  max-width: 33%;
  background: #ffffff;
  border-radius: 6px;
  flex: 1 0 100%;
  margin-bottom: 32px;
  &:nth-child(4n) {
    max-width: 100%;
  }
}
.service__link {
  border-top: 1px solid #f0f0f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 32px;
  span {
    color: #00a759;
    @include buttonLabel;
  }
}
.service__info {
  padding: 32px;
  h2 {
    @include Headline5;
    color: #1b1b1b;
    margin-bottom: 18px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }
}
.service__link-img {
  width: 32px;
  height: 32px;
  background: rgba(0, 167, 89, 0.04);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__flex {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.object__item {
  max-width: 312px;
  max-height: 312px;
  border-radius: 6px;
  margin-bottom: 24px;
  img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }
}
.object__flex {
  overflow: hidden;
  .swiper-wrapper {
    justify-content: space-between;
  }
}
.object__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .swiper-button-disabled {
    background: #e6e6eb;
  }
}
.object-pagination {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #afb1bd;
  user-select: none;
  .swiper-pagination-current {
    color: #1b1b1b;
  }
}
.object-button-prev {
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #1b1b1b;
  border-radius: 50%;
  svg {
    path {
      fill: #fff;
    }
  }
}
.object-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #1b1b1b;
  border-radius: 50%;
  svg {
    path {
      fill: #fff;
    }
  }
}
.cart__item {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 6px;
  padding: 14px;
}
.cart__img {
  img {
    object-fit: cover;
  }
}
.cart__info {
  width: 100%;
  margin-left: 24px;
  position: relative;
}
.cart__brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    @include Headline7;
    text-transform: uppercase;
    font-weight: normal;
  }
  p {
    color: #1b1b1b;
    @include Headline7;
  }
}
.cart__item {
  margin-bottom: 24px;
}
.cart__model {
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #afb1bd;
  }
}
.cart__size {
  display: flex;
  align-items: center;
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #afb1bd;
    margin-right: 10px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #1b1b1b;
  }
}
.cart__btn {
  display: flex;
  align-items: center;
  margin-top: 51px;
  button {
    cursor: pointer;
  }
}
.cart__count-item {
  padding: 6px 12px;
  background: #f0f0f5;
  border-radius: 6px;
  margin: 0 10px;
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #1b1b1b;
  }
}
.remove__item {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -3%;
  padding: 5px;
  background: rgba(244, 91, 66, 0.04);
  border-radius: 24px;
}
.cart__list {
  display: flex;
  flex-direction: column;
  flex: 0 0 58%;
}
.cart__total {
  background: #ffffff;
  backdrop-filter: blur(20px);
  border-radius: 6px;
  padding: 24px;
  max-width: 536px;
  flex: 0 0 100%;
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #1b1b1b;
  }
}
.cart__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cart__total-price {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    color: #1b1b1b;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #1b1b1b;
  }
}

.cart__total-description {
  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #afb1bd;
  }
}
.cart__total-btn {
  padding: 14px 0;
  border: 1px solid #00a759;
  border-radius:6px;
  margin-top: 64px;
  a {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #00a759;
    justify-content:center;
  }
}
